mixin footer()
    +b.FOOTER.footer
        +e.container.swiper-container
            +e.wrapper.swiper-wrapper
                +e.slide.swiper-slide
                    +e.slide-content
                        +e.SPAN.title юридическая защита
                        +e.SPAN.description в Минске
                        +e.P.text Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска. Мы работаем честно — прозрачные условия договора и ценообразования. Наши принципы определяют качество работы. Но мы не беремся за заведомо проигрышные дела.
                    +e.image(style=`background-image:url(${require("./../images/slider.png")})`)
                +e.slide.swiper-slide
                    +e.slide-content
                        +e.SPAN.title юридическая защита2
                        +e.SPAN.description в Минске
                        +e.P.text Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска. Мы работаем честно — прозрачные условия договора и ценообразования. Наши принципы определяют качество работы. Но мы не беремся за заведомо проигрышные дела.
                    +e.image(style=`background-image:url(${require("./../images/slider.png")})`)
            +e.pagination.swiper-pagination







