mixin blog()
    +b.blog
        +e.inner
            .container
                +e.blog-about
                    +e.about-content
                        +e.P.about-content-title БЛОГ
                        +e.about-content-text
                            P Наследство — это совокупность принадлежавших наследодателю на день открытия наследства вещей, а также иных видов имущества, в том числе имущественных прав и обязанностей. Согласно ГК РФ, наследством может стать любая собственность — материальная и нематериальная. Получить ее после смерти наследодателя возможно двумя способами: по завещанию, если таковое имеется, либо по закону.
                            P Получение наследства может быть связано с рядом трудностей, которые требуют помощи квалифицированных юристов и адвокатов. Наличие у наследодателя спорного имущества или имущества, которое необходимо разыскать, а также долгов или ранее
                    +e.about-list
                        +e.about-item
                            +e.A.about-link(href="")
                                +e.item-image
                                    +e.item-image-content(src=require('./../images/news1.png'), alt='A1')
                                +e.item-title Новость 1
                                +e.item-text аследства вещей, а также иных видов имущества, в том числе имущественных прав и обязанностей. Согласно ГК РФ, наследством может стать любая собственность — материальная и нематериальная. Получить ее после смерти наследодателя
                        +e.about-item
                            +e.A.about-link(href="")
                                +e.item-image
                                    +e.item-image-content(src=require('./../images/news2.png'), alt='A1')
                                +e.item-title Новость 2
                                +e.item-text аследства вещей, а также иных видов имущества, в том числе имущественных прав и обязанностей. Согласно ГК РФ, наследством может стать любая собственность — материальная и нематериальная. Получить ее после смерти наследодателя
                        +e.about-item
                            +e.A.about-link(href="")
                                +e.item-image
                                    +e.item-image-content(src=require('./../images/news2.png'), alt='A1')
                                +e.item-title Новость 3
                                +e.item-text аследства вещей, а также иных видов имущества, в том числе имущественных прав и обязанностей. Согласно ГК РФ, наследством может стать любая собственность — материальная и нематериальная. Получить ее после смерти наследодателя
                        +e.about-item
                            +e.A.about-link(href="")
                                +e.item-image
                                    +e.item-image-content(src=require('./../images/news1.png'), alt='A1')
                                +e.item-title Новость 4
                                +e.item-text аследства вещей, а также иных видов имущества, в том числе имущественных прав и обязанностей. Согласно ГК РФ, наследством может стать любая собственность — материальная и нематериальная. Получить ее после смерти наследодателя

