mixin teamSingle()
    +b.teamSingle
        +menu-inner()
        .container.type-team
            +e.P.title команда
            +e.A.arrow-link-left(href="")
                +e.button-prev
            +e.A.arrow-link-right(href="")
                +e.button-next
            .container
                +e.team-about
                    +e.team-about-content
                        +e.P.team-about-content-title Алиса  Селезнева
                        +e.P.team-about-content-subtitle адвокат
                        +e.P.team-about-content-text Наследство — это совокупность принадлежавших наследодателю на день открытия наследства вещей, а также иных видов имущества, в том числе имущественных прав и обязанностей. Согласно ГК РФ, наследством может стать любая собственность — материальная и нематериальная. Получить ее после смерти наследодателя возможно двумя способами: по завещанию, если таковое имеется, либо по закону. Получение наследства может быть связано с рядом трудностей, которые требуют помощи квалифицированных юристов и адвокатов. Наличие у наследодателя спорного имущества или имущества, которое необходимо разыскать, а также долгов или ранее неизвестных наследников влечет за собой ряд юридических действий, которые проще пройти знающему и квалифицированному в этой области юристу или адвокату по наследственным спорам. Кроме того, зачастую наследственным имуществом становятся акции, ценные бумаги, доли в хозяйственных обществах, а также иное имущество, имеющее отношение к бизнесу наследодателя. Споры, связанные с подобными бизнес-активами усложняются рамками корпоративного права, в связи с чем имеют некоторые особенности, без учета которых принятие такого наследства будет весьма затруднительным.
                    +e.team-about-image
                        +e.team-about-image-content(src=require('./../images/team-1.png'), alt='Logo')

