mixin services()
    +b.services
        +e.inner
            +e.title команда
            +e.container.swiper-container
                +e.wrapper.swiper-wrapper
                    +e.slide.swiper-slide
                        .container
                            .link(href="#fg")
                                +e.slide-container
                                    +e.slide-content
                                        +e.slide-title Алиса  Селезнева
                                        +e.slide-subtitle адвокат
                                        +e.slide-text Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                        +e.A.slide-link(href="")
                                            +e.SPUN.slide-link-text Подробнее
                                    +e.slide-image
                                        +e.slide-image-inner(src=require('./../images/team-1.png'), alt='Logo')
                    +e.slide.swiper-slide
                        .container
                            .link(href="#fg")
                                +e.slide-container
                                    +e.slide-content
                                        +e.slide-title Алиса  Селезнева
                                        +e.slide-subtitle адвокат
                                        +e.slide-text Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                        +e.A.slide-link(href="")
                                            +e.SPUN.slide-link-text Подробнее
                                    +e.slide-image
                                        +e.slide-image-inner(src=require('./../images/team-1.png'), alt='Logo')
                    +e.slide.swiper-slide
                        .container
                            .link(href="#fg")
                                +e.slide-container
                                    +e.slide-content
                                        +e.slide-title Алиса  Селезнева
                                        +e.slide-subtitle адвокат
                                        +e.slide-text Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                        +e.A.slide-link(href="")
                                            +e.SPUN.slide-link-text Подробнее
                                    +e.slide-image
                                        +e.slide-image-inner(src=require('./../images/team-1.png'), alt='Logo')
                    +e.slide.swiper-slide
                        .container
                            .link(href="#fg")
                                +e.slide-container
                                    +e.slide-content
                                        +e.slide-title Алиса  Селезнева
                                        +e.slide-subtitle адвокат
                                        +e.slide-text Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                        +e.A.slide-link(href="")
                                            +e.SPUN.slide-link-text Подробнее
                                    +e.slide-image
                                        +e.slide-image-inner(src=require('./../images/team-1.png'), alt='Logo')
                +e.button-next.swiper-button-next
                +e.button-prev.swiper-button-prev