@import "./../../common/constants";

.type{
    padding   : {
        left  : 12px;
        right : 12px;
    }
    position : relative;

    @include sm {
        padding   : {
            left  : 20px;
            right : 20px;
        }
    }

    @include md {
        padding   : {
            left  : 1.5rem;
            right : 1.5rem;
        }
    }

    @include lg {
        padding   : {
            left  : 38px;
            right : 38px;
        }
    }

    @include hd {
        padding   : {
            left  : 4rem;
            right : 4rem;
        }
    }
}

.header {

    margin-top: 1rem;
    margin-bottom: 1rem;


    &__content{
        display: flex;
        align-items: center;
    }

    &__logo-content{
        flex: 1;
    }

    &__logo-content{
        display: flex;
        align-items: center;
    }

    &__logo-desc{
        display: none;

        @include md{
            display: block;
        }

    }

    &__logo{
        width: 36px;
    }

    &__logo-desc{
        margin-left: 1rem;
    }

    &__call-content{
        display: none;
        z-index: 8;
        position: absolute;
        opacity: 1;


        &_active{
            display: block;
            max-width: 196px;
            width: 196px;
            right: -.5rem;
            top: -.5rem;
            animation: 1s op ease-in-out forwards;
        }

        &_deactive{
            animation: 1s op2 ease-in-out forwards;
        }
    }

    &__call-contact-phone{
        padding-top: .25rem;
        padding-bottom: .25rem;
        border-bottom: 1px solid rgba(106, 116, 125, 0.18);



    }

    &__call-contact-email{
        padding-top: .25rem;
        padding-bottom: .25rem;
        border-bottom: 1px solid rgba(106, 116, 125, 0.18);
    }


    &__call-contact-clock{
        padding-top: .25rem;
        padding-bottom: .25rem;
    }

    &__call-social{
        height: 47px;
        display: flex;
        align-items: center;
        padding-top: .5rem;
        justify-content: center;
        padding-left: 1rem;
        background: #CDD6DE;
        position: relative;
        z-index : 7;
    }

    &__call-contact-phone-image{
        padding-right: .25rem;
    }

    &__call-contact-phone-item{
        display: flex;
        align-items: center;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: .25rem;
        padding-right: .25rem;
    }

    &__call-social-image{
        width: 20px;
        height: 20px;
        margin: .25rem;

        &:hover{
            animation: .7s hov ease-in-out forwards;
            animation: .7s hov ease-in-out forwards;
        }
    }


    &__call-image{
        z-index: 15;
        position: relative;
    }

    &__call-contact{
        background: #C1CCD3;
        padding: .25rem .5rem;
        margin-top: -1px;
    }

    &__call-contact-phone-link{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        color: #6A747D;

        &:hover{
            color: #ffffff;
        }
    }



    &__language{
        display: none;
    }

    &__lang-type{
        margin-left: 1rem;
        position: relative;

        &:before{
            content: '';
            background-image: url("./../../images/arrow.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 3px;
            height: 9px;
            position: absolute;
            right: 4px;
            top: 8.5px;
            animation: 1s rot2 ease-in-out forwards;
        }

        &_active{
            &:before{
                animation: 1s rot ease-in-out forwards;
            }
        }

    }

    &__lang-type-item{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #CDD6DE;
        padding: 6px 10px 6px 6px;
    }

    &__language-image{
        width: 15px;
        height: 10px;
        margin-right: 2px;
    }

    &__language-title{
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        color: #6A747D;
    }

    &__burger-line{
        display: block;
        background: #A8A8A8;
        border-radius: 2px;
        width: 24px;
        height: 3px;
        &:nth-child(2){
            margin-top: 0.25rem;
        }
    }

    &__burger{
        z-index: 9999;
        animation: 1s ease animBur forwards;
        margin-left: 1rem;

        span{
            &:first-child {
                transform: rotate(0deg);
                transition-duration: .7s;
            }

            &:last-child {
                transform: rotate(0deg);
                transition-duration: .7s;
            }
        }
        &_active{
            span{
                &:first-child {
                    transform: rotate(-45deg);
                    transition-duration: .7s;
                }

                &:last-child {
                    transform: rotate(45deg);
                    transition-duration: .7s;
                    margin-top: -3px;
                }
            }
        }


        @include md{
            display: none;
        }

    }

    &__menu{
        height: calc( 100vh - 72px );
        min-height: 568px;
        z-index : 99;
        width: 256px;
        background: #CDD6DE;
        position: absolute;
        left: 0;
        margin-top: .5rem;
        padding-top: 2rem;
        transform: translateX(-100%);

        @include md{
            display: none;
            transform: translateX(0);
            padding-top: 7rem;
            background: transparent;
        }

        @include lg{
            padding-top: 4rem;
        }

        @include hd{
            padding-top: 12rem;
        }

        &_active{
            animation : 1s an ease forwards;
        }


        &_deactive{
            animation: 1s out ease-in-out forwards;
        }

    }

    &__menu-list{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    &__menu-soc{
        margin-left: 20px;
        padding-left: 1.5rem;
        margin-top: 2.5rem;

        @include md{
            margin-top: 6rem;
        }

    }

    &__menu-item{
        position: relative;
        margin-bottom: 9px;
        text-align: left;
        transition: all 0.6s ease-in-out;
        opacity: 0;
        transform: translateX(50px);
        animation: slide-to-right 0.5s linear forwards;
        font-family: "Open Sans",sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #536780;
        padding-left: 1.5rem;

        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            width: 0px;
            height: 2px;
            background-color: #F29100;
            -webkit-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
        }


        &_active{
            width: 100%;
            margin-bottom: 60px;
            padding-bottom: 20px;
            color: #F29100;
            cursor: default;
            position: relative;


            &:after{
                content: "";
                width: 120px;
            }
        }

        &:last-of-type:not(.menu__menu-item_active){
            margin-bottom: 0;
        }

        &:last-of-type.menu__menu-item_active {
            margin-bottom: 60px;
        }

        &:not(.menu__menu-item_active):hover,
        &:not(.menu__menu-item_active):focus {
            color: #F29100;
        }

        &:nth-of-type(1) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

        &:nth-of-type(2) {
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }

        &:nth-of-type(3) {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        &:nth-of-type(4) {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }

        &:nth-of-type(5) {
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

    }


    &__call{
        z-index: 9;
        position : relative;
        cursor: pointer;
    }



}

.unbutton {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    text-shadow: none;
    outline: 0;
    border: 0;
}

@keyframes slide-to-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}



@keyframes slide-to-right {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.desctop-lang{
    display: none;

    @include md{
        display: block;
    }
}

.mobile-lang{
    display: block;
    padding-left: 1.5rem;
    max-width: 80px;
    margin-top: 1rem;

    .header__lang-type-item{
        justify-content: unset;
        background: #e6e6e6;
    }

    @include md{
        display: none;
    }
}

.mob{
    background: #e6e6e6;

    .header__language-item{
        display: flex;
        align-items: center;

        padding: 6px 10px 6px 6px;
    }
}

.desc{
    position: absolute;
    background: #CDD6DE;

    .header__language-item{
        display: flex;
        align-items: center;

        padding: 6px 10px 6px 6px;
    }
}


@keyframes an {

    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }


}

@keyframes out {

    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }


}


@keyframes down2 {

    0%{
        margin-bottom: 1.5rem;
    }

    100%{
        margin-bottom: 60px;
    }

}


@keyframes up2 {

    0%{
        margin-bottom: 60px;
    }

    100%{
        margin-bottom: 1.5rem;
    }

}


@keyframes rot {

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(90deg);
    }

}


@keyframes rot2 {

    0%{
        transform: rotate(90deg);
    }

    100%{
        transform: rotate(0deg);
    }

}

@keyframes op {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}

@keyframes op2 {

    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }

}

@keyframes hov {

    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.2);
    }

}

