mixin contact()
    +b.contact
        +menu-inner()
        .container.type-contact
            .container
                +e.P.title контакты
                +breadcrub()
                +e.contact-about
                    +e.contact-about-content
                        +e.globus(id="globus")

