include ./mastak-lib/mixins
include ./components/header/header
include ./components/footer/footer
include ./components/form/form
include ./components/preloader/preloader
include ./components/menu/menu
include ./components/menu-inner/menu-inner
include ./components/homeSlider/homeSlider
include ./components/team/team
include ./components/teamSingle/teamSingle
include ./components/services/services
include ./components/service/service
include ./components/breadcrub/breadcrub
include ./components/serviceSingle/serviceSingle
include ./components/blog/blog
include ./components/about/about
include ./components/clients/clients
include ./components/contact/contact
include ./components/contacts/contacts
include ./components/error/error



