mixin service()
    +b.service
        +menu-inner()
        .container.type-service
            .container
                +e.P.title услуги
                +breadcrub()
                +e.service-about
                    +e.service-about-content
                        +e.P.service-about-content-title Для иностранных граждан
                        +e.P.service-about-content-text Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                        +e.service-about-content-files
                            +e.files-item
                                +e.A.files-item-text(href="") Спектр услуг
                            +e.files-item
                                +e.A.files-item-text(href="") Список какой, либо документация
                        +e.service-about-content-type
                            +e.UL.service-about-content-list
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Комплексная юридическая
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Поддержка менеджмента
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Бракоразводные процессы
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Сделки купли-продажи
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Наследственные дела
                            +e.UL.service-about-content-list
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Комплексная юридическая
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Поддержка менеджмента
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Бракоразводные процессы
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Сделки купли-продажи
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Наследственные дела
                            +e.UL.service-about-content-list
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Комплексная юридическая
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Поддержка менеджмента
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Бракоразводные процессы
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Сделки купли-продажи
                                +e.LI.service-about-content-item
                                    +e.A.service-about-content-link(href="") Наследственные дела