mixin about()
    +b.about
        +e.inner
            +e.title О КОМПАНИИ
            +e.container
                +e.wrapper
                    +e.slide
                        .container
                            .link(href="")
                                +e.slide-container
                                    +e.slide-content
                                        +e.slide-text
                                            P Наследство — это совокупность принадлежавших наследодателю на день открытия наследства вещей, а также иных видов имущества, в том числе имущественных прав и обязанностей. Согласно ГК РФ, наследством может стать любая собственность — материальная и нематериальная. Получить ее после смерти наследодателя возможно двумя способами: по завещанию, если таковое имеется, либо по закону.
                                            P Получение наследства может быть связано с рядом трудностей, которые требуют помощи квалифицированных юристов и адвокатов. Наличие у наследодателя спорного имущества или имущества, которое необходимо разыскать, а также долгов или ранее
                    +e.slide
                        .container
                            .link(href="")
                                +e.slide-container
                                    e.slide-content
                                        +e.slide-title Наши партнеры
                                        +e.slide-text
                                            P Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                            P Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                            P Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                        +e.A.slide-link(href="") Подробнее...
                    +e.slide
                        .container
                            .link(href="")
                                +e.slide-container
                                    e.slide-content
                                        +e.slide-title Наши партнеры
                                        +e.slide-text
                                            P Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                            P Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                            P Юридическая компания, оказывающая широкий спектр услуг. Наши эксперты имеют большой опыт и состоят в Коллегиях адвокатов Минска.
                                        +e.A.slide-link(href="") Подробнее...