@import "./../../common/constants";

.about{

    &__inner{
        position: relative;
    }

    &__button-prev{
        background-image: url(../../images/arr1.png);
        width: 49px;
        height: 40px;
        background-size: 100% 100%;
        left: 0;
        top : 22px;
     }

    &__button-next{
        background-image: url(../../images/arr2.png);
        width: 49px;
        height: 40px;
        background-size: 100% 100%;
        right: 0px;
        top : 22px;
    }

    &__title{
        font-family: "Gilroy";
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 48px;
        position: absolute;
        top : 0;
        left: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #A3B0BB;
        z-index: 2;

        @include sm{
            font-size: 84px;
            line-height: 103px;
            left: 76px;
        }

    }

    &__slide-container{
        padding-top: 4rem;

        position: relative;

        @include sm{
            padding-top: 11rem;
            min-height: calc( 100vh - 82px );
        }

        @include md{
            padding-top: 11rem;
        }

        @include lg{
            padding-top: 7rem;
        }

        @include hd{
            padding-top: 10rem;
        }

        @include xhd{
            padding-top: 15rem;
        }

    }

    &__slide-title{
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        width: 290px;
        color: #536780;

        @include xhd{
            font-size: 30px;
        }

    }

    &__slide-text{

        p{
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #7B838A;
            margin-top: 1rem;

            @include sm{
            }

            @include xhd{
                font-size: 20px;
            }
        }
    }



    &__slide{
        opacity: 0;
        transform: translateX(100px);
        padding-bottom: 30px;



        @include sm{
            padding-left: 44px;
            padding-right: 44px;

            .container{
                padding-left: .5rem;
                padding-right: 0;
            }
        }


        @include lg{
            padding-left: 2rem;
            padding-right: 2rem;
            min-height: calc( 100vh - 82px );
            padding-bottom: 0px;
        }

        @include hd{
            padding-left: 4rem;
            padding-right: 4rem;
        }


        &:nth-child(1){

            width: 100%;

            @include md{
                width: 50%;
            }

            @include lg{
                width: 33.33%;
            }

        }

        &:nth-child(2){
            width: 100%;

            @include md{
                width: 50%;
            }

            @include lg{
                width: 33.33%;
            }
        }

        &:nth-child(3){
            width: 100%;

            @include md{
                width: 50%;
            }

            @include lg{
                width: 33.33%;
            }
        }

        &:nth-child(3n-1){
            background: #F1F2F5;
            transition: background .5s;
        }

        &:nth-child(3n){
            background: #FFFFFF;
            transition: background .5s;
        }



        &_in{
            animation           : animSlideIn5 1s .5s;
            animation-fill-mode : forwards;
        }



    }

    &__slide-link{
        font-family: "Open Sans",sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #A3B0BB;
        margin-top: 1.5rem;
        display: block;
    }


    &__wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include md{
            flex-direction: row;
        }
    }



}


@keyframes animSlideIn5 {
    0% {
        opacity : 0;
        transform: translateX(100px);
    }
    100% {
        opacity : 1 ;
        transform: translateX(0);
    }
}

@keyframes animSlideOut5 {
    0% {
        opacity : 1;
        transform: translateX(0);
    }
    100% {
        opacity : 0;
        transform: translateX(100px);
    }
}